.container
  .well
    %h1.center.header-big= current_user.gym.name
    %hr/
    = form_for @wod do |f|
      = f.label :name
      = f.text_field :name, class: "form-control"
      = f.label :body
      = f.text_area :body, class: "form-control wod-editor wysihtml5", rows: 30
      %br/
      = f.submit
