!!!
%html
  %head
    %title iWod
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .container
      .navbar.navbar-default
        .navbar-header
          %a.navbar-brand{href: "/home"} iWod
        .navbar-collapse.collapse
          -if current_user
            %ul.nav.navbar-nav.navbar-right
              %li.btn-block.btn-danger.white-text
                = link_to "Logout", destroy_user_session_path, method: :delete, style: "color: #fff;"
        / /.nav-collapse
      - if flash.any?
        - flash.keys.each do |key|
          .alert.alert-danger= flash[key]
    = yield
